<html>
    <head>
        <title>Numbers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css2.css') }}">
    </head>
    <body>
        <h1>Numbers: che numero ho pensato?</h1>
        <p>clicca su un numero per vedere se è quello che ho pensato</p>
        <div class="bigd">
            <div>
                <img src="../../static/img/numeri/1.png">
                <img src="../../static/img/numeri/2.png">
                <img src="../../static/img/numeri/3.png">
            </div>
            <div>
                <img src="../../static/img/numeri/4.png">
                <img src="../../static/img/numeri/5.png">
                <img src="../../static/img/numeri/6.png">
            </div>
            <div>
                <img src="../../static/img/numeri/7.png">
                <img src="../../static/img/numeri/8.png">
                <img src="../../static/img/numeri/9.png">
            </div>
        </div>
    </body>
</html>